.color-t {
    color: #AB2346
}
.block {
    margin: 20px 30px;
}
    .block h1 {
        margin-left: -5px;
        font-weight: 210;
    }

.horizontal-line{
	margin: 34px 0 0 30px;
	height: 26px;
	position: relative;	
}
	.line {
		border-top: 1px solid #C9DAEA;
		width: 240px;
		margin-top: 10px;
	}
	
	
	
/* MAIN TAGS */
body {
    margin: 0;
    background-color: #191516;
}
h1,h2 {
    font-weight: 300;
    color:#00B295;
}
    h1 {
        font-size: 45px;
        font-weight: 300;
        margin: 20px 0;
    }
    h2 {
        font-size: 30px;
        margin: 30px 0 25px;
    }
blockquote {
    font-weight: 300;
    font-size: 15px;
    color: #C9DAEA;
}
blockquote,p,a,li {
    font-weight: 300;
    font-size: 15px;
    color:#C9DAEA;
}

ul {
    padding: 0;
    margin:0;
}
    li {
        padding-left: -5px;
    }

/* Containers */
#main-cont {
    width: 950px;
    margin: 0 auto;
}
    #header {
        height: 140px;
        border-bottom: 1px solid #C9DAEA;
    }
    .header-name-container {
        height: 130px;
        width: 250px;
        border-right: 1px solid #C9DAEA;
    }
#left-col {
    width: 250px;
    float: left;
}
#content-container {
    width: 600px;
    border-left: 1px solid #C9DAEA;
    float: left;
}
#footer {
    width: 950px;
    height: 60px;
    border-top: 1px solid #C9DAEA;
    display: inline-block;
}

/* LEFT COL */

.profile-pic-frame {
    width: 230px;
    height: 260px;
  /*  background: black; */
    border: 1px solid #C9DAEA;
    margin-top: 30px;
}
    .profile-pic {
        width: 210px;
        height: 240px;
        margin: 10px;
        background: url(cv-pic.jpg) 100%/210px no-repeat;
    }
.left-column-content {
    width: 230px;
}
.contacts-cont {
    margin-top: 10px;
}
.footer-text {
    margin-top:20px;
}

/* Profile Content */
.profile-quote {
    position: relative;
}
    .profile-quote p {
        font-size: 17px;
        width: 450px;
    }

